$primary-color: rgba(50, 100, 149, 1);
$primary-margin: 20px;
$primary-padding: 20px;
$width: 75%;
$Helvetica: "Helvetica", sans-serif;
$logo-color: rgba(217, 30, 24, 1);
$mix-logo-color: mix($logo-color, rgba(102, 51, 153, 1));

body {
	background-image: url('images/confectionary.png');
	font-family: $Helvetica;
}

h3 {
	width: 700px;
	margin: auto;
	margin-top: $primary-margin * 4;
	text-align: center;

	a {
		text-decoration: none;
		color: $primary-color;
	}

	span {
		letter-spacing: 1;
		display: inline;
		font-family: "Bangers", cursive;
		font-size: 140px;
	}
}

#myForm {
	width: 100%;
	margin-top: $primary-margin;
	margin: auto;
	text-align: center;
	margin-bottom: $primary-margin*2;

	input {
		width: $width;
		padding: $primary-padding;
		border-radius: 10px;
		text-align: center;
		font-family: "Luckiest Guy", cursive;
		font-size: $primary-margin * 1.2;
		letter-spacing: 2;
		outline: none;
		border: 3px solid rgba(80, 57, 117, 0.5);
		opacity: 0.7;
		color: $primary-color;
	}
}


ul {
	width: $width;
	min-height: 100px;
	margin: auto;
	border: 2px solid rgba(191, 183, 204, 0.5);
	li {
		display: inline-block;
		margin: $primary-margin/2;
		color: $primary-color;
		font-family: "Luckiest Guy", cursive;
		font-size: $primary-margin * 2;
	}
}


.fizz {
	color: $logo-color;
}

.buzz {
	color: complement($logo-color);
}

.fizzbuzz {
	color: complement(rgba(102, 51, 153, 1));
}


#f {
	@extend.fizz;
}

#b {
	@extend.buzz;
}

#i {
	color: rgba(102, 51, 153, 1);
}

#u {
	@extend.fizzbuzz;
}

#zz {
	color: $mix-logo-color;
}

#secondzz {
	color: lighten($mix-logo-color, 30%);
}

.hide {
	display: none;
}
